<div *ngIf="catTitle" class="content-container border bg-white rounded p-3 bg-div">
  <h4>{{catTitle}}</h4>
  <p>{{catDescription}}</p>
</div>
<div class="content-container border bg-white rounded p-3">
  <div class="list-group">
    <a *ngFor="let c of _db.content" [routerLink]="['/content',c.$key]" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="row">
        <div class="col-auto">
          <img class="rounded" height="90" src="../../../assets/content_placeholder.gif" alt="">
        </div>
        <div class="col">
          <h5 class="mb-2">{{c.title}}</h5>
          <p class="mb-2">{{c.description}}</p>
          <span class="badge badge-light">{{c.category}}</span>
        </div>
        <div class="col-3 align-self-center text-center" style="padding-left:0px;padding-right:0px;">
          <button *ngIf="!c.unlocked && c.userAlreadyUnlocked && _db.user" (click)="shareContent(c,$event)" type="button" name="button" class="btn btn-sm btn-outline-warning"><i class="fa fa-unlock-alt mr-1" aria-hidden="true"></i>
Share</button>
          <button *ngIf="!c.unlocked && (!c.userAlreadyUnlocked || !_db.user)" (click)="unlockContent(c,$event)" type="button" name="button" class="btn btn-sm btn-outline-success"><i class="fa fa-unlock-alt mr-1" aria-hidden="true"></i>
Unlock</button>
          <button *ngIf="c.unlocked" (click)="downloadContent(c,$event)" type="button" name="button" class="btn btn-sm btn-info"><i class="fa fa-download mr-1" aria-hidden="true"></i>
          Download</button>
          <p class="locksText mt-2 mb-0"><strong>{{c.unlocksRequired | unlocksRemaining:c.unlocks }} Locks</strong><br/>Remaining</p>
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="col text-center">
          <p><strong>7 more people</strong> are required to unlock this content</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div> -->
    </a>
  </div>
</div>
