<div class="sticky-top p-3">
  <h3>Categories</h3>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-camera-retro fw mr-2"></i>Export</a>
    </li>
  </ul>
</div>
